/* Dark Mode Styles */
body {
    font-family: 'Oswald', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
}

p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    opacity: 0.8; 
    margin-bottom: 60px;
    margin-top: -15px;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #1e1e1e;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 150px;
    filter: invert(1);
}

.menu-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    margin-top: 200px;
    padding: 20px;
}

section {
    padding: 40px 20px;
    margin-bottom: 40px;
}

section .content {
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: #e0e0e0;
    margin-bottom: 20px;
}
h3 {
    margin-top: -240px;
    color: #e0e0e0;
    margin-bottom: 20px;
    font-size: 30px;
}
h6 {
    margin-top: -55px;
    color: #e0e0e0;
    margin-bottom: 20px;
    font-size: 20px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px 0;
    color: #e0e0e0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menu-toggle {
        margin-bottom: 14px;
        display: block;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 13px;
        font-size: 16px;
        cursor: pointer;
    }

    .menu-toggle:hover {
        background-color: #555;
    }

    .menu-toggle:focus {
        outline: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1e1e1e;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
        width: 100%;
    }

    nav ul.show {
        display: flex;
        opacity: 1;
        padding: 10px;
        margin-top: 160px;
        margin-right: 110px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
        width: 200px;
        z-index: 99;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(10px);
    }

    nav ul li {
        margin: 10px 0;
    }

    header .container {
        flex-direction: column;
    }
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icon {
    width: 30px;
    height: auto;
}

nav ul li a.active {
    background-color: #333;
    color: #fff;
}

header, .background-image {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Disable body scroll when the popup is active */
body.no-scroll {
    overflow: hidden;
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
    .age-popup-content {
        max-width: 90%;
        padding: 20px;
    }

    .age-popup-content button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

/* Oswald Font Styles */
.oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
